/*
	Configurations initiales, layout container
*/

body{
	/*font-family: 'Titillium Web', sans-serif;*/

}

.container{
	width: 1140px;
	margin: auto;
}

.clearfix{
	clear: both;
}

/*
	Partie Menu
*/

/*
	Nav fixed pour le garder en visuel 
*/

nav{
	width: 100%;
	position: fixed;
	background-image: url('../img/backgroundHotel.jpg');
	padding-top: 49px;
	top:0;
	font-family: 'Cinzel', serif;
}

nav a{
	
}

nav ul{
	float: right;
}

nav ul>li{
	float: left;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
}

nav ul>li>a{
	color:  #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px;
}

nav ul>li>a:hover{
	background-color: #915E0E;
	border-radius: 4px;
}

/*
	Partie Accueil
*/

#accueil{
	width: 100%;
	background-image: url('../img/backgroundHotel.jpg');
	padding-top: 145px;
	padding-bottom: 110px;
}

#accueil p{
	width: 815px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 48px;
	color:  #f7f3eb;
	font-size: 30px;
	text-align: center;
}

/*
	J'ai fait le choix de marquer Webforce 3 en strong, je ne sais pas si c'est la bonne methode 
	mais je trouve que ça donne du sens ...
*/

#accueil p>strong{
	font-weight: normal;
}

/*
 Petit trick pour aller a la ligne apres le strong
*/

#accueil p>strong::after{
	display: block;
	content: " ";
}

#accueil a{
	display: block;
	box-sizing: border-box;
	width: 290px;
	height: 70px;
	margin: auto;
	padding: 25px 70px;
	background-color: #eb7d4b;
	border-radius: 4px;
	color: white;
	font-size: 24px;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none;
}

#accueil a:hover{
	background-color: #BF643A;
}

/*
	Partie Programme
*/

#programme{
	width: 100%;
	height: 747px;
	box-sizing: border-box;
	background-color: #17c2a4;
	padding-top: 120px;
	padding-bottom: 80px;
}

/*
	Uppercase pour majuscules
*/

#programme h2{
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 0;
}

#cadreCentre{
	width:100%;
	text-align: center;
	background-image: url('../img/backgroundHotel.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

#cadreCentre p{
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;


}

footer{
	text-align: center;
	background-color: #9A702E;
}