table{
<<<<<<< HEAD
=======
	background-color: white;
>>>>>>> 03886a062dbad8126fb2be5a2f09fb43c1d83da5
	width: 100%;
	border: 1px solid black;
	text-align: center;
}

tr{
	border: 1px solid black;
}

td, th{
	border-left:1px solid black;
	text-align: center;
<<<<<<< HEAD
=======
	padding: 5px;
}


ul .listconfig{
	list-style:disc;

}

div .menuConf{
	margin-left: 50px;
>>>>>>> 03886a062dbad8126fb2be5a2f09fb43c1d83da5
}