/*------------------------------PLAN DES CHAMBRES---------------------------------------*/

.plan{
	width: 800px;
	height: 600px;
	background-image: url(plan1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: none;
	border:1px solid black;
	
}

.chambre{
	/*border:2px solid red;*/
	float: left;
}

.chambre:hover{
	background-color: rgba(125,255,125,0.25);
}

#n0{
	width:160px;
	height:222px;
	margin-right:0;
	margin-left:222px;
	margin-top:38px;
	margin-bottom:0;
	box-sizing: border-box;
}

#n1{
	width:160px;
	height:222px;
	margin-right:0;
	margin-left:0;
	margin-top:38px;
	margin-bottom:0;
	box-sizing: border-box;
}

#n2{
	width:160px;
	height:222px;
	margin-right:0;
	margin-left:0;
	margin-top:38px;
	margin-bottom:0;
	box-sizing: border-box;
}
#n3{ 
	width:216px;
	height: 220px;
	margin-right:0;
	margin-left:10px;
	margin-top:50px;
	margin-bottom:0;
	box-sizing: border-box;
}
#n4{
	width:80px;
	height: 220px;
	margin-right:0;
	margin-left:0px;
	margin-top:50px;
	margin-bottom:0;
	box-sizing: border-box;
}

#n5{
	width:157px;
	height:222px;
	margin-right:0;
	margin-left:0;
	margin-top:50px;
	margin-bottom:0;
	box-sizing: border-box;
}

#n6{
	width:157px;
	height:222px;
	margin-right:0;
	margin-left:0;
	margin-top:50px;
	margin-bottom:0;
	box-sizing: border-box;
}

#n7{
	width:80px;
	height: 220px;
	margin-right:0;
	margin-left:0px;
	margin-top:50px;
	margin-bottom:0;
	box-sizing: border-box;
}

#n8{
	width:80px;
	height: 220px;
	margin-right:0;
	margin-left:0px;
	margin-top:50px;
	margin-bottom:0;
	box-sizing: border-box;
}

/*-----------------------------------FIN DU PLAN DES CHAMBRES-----------------------------------------------------*/