#presentation{
	width: 1200px;
	margin-left: auto;
    margin-right: auto;
	font-family: 'Raleway', sans-serif;
	border-top: 1px solid white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
	height: 1250px;
}

#presentation>h2{
	text-align: center;
	font-family: 'Cinzel', serif;
	text-decoration: underline;
}

#presentation>p{
	text-align: justify;
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 19px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

#presentation .flexslider{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 500px;
}

#presentation>img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.js #requirejs{
	display: none;
}

.no-js #requirejs{
	display: block;
}

.no-js main{
	display: none;
}

.clearfix{
	clear: both;
}