 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3{
	font-family: 'Cinzel', serif;
}
p{
	font-size: 18px;
	font-family: 'Alegreya Sans', sans-serif;
}
 section {
	box-sizing: border-box;
 }

/*--------------------------Register----------------------------*/

#form_register .input_div{
	float: left;
	width: 48%;
}

#form_register input{
	width: 96%;
	margin-bottom: 20px;
	height: 30px;
	border-radius: 5px;
}

#form_register #button{
	text-align: center;
	padding: 10px;

}

#form_register p{
	visibility: hidden;
	color: #F70B0B;
}
#form_register label{
	font-size: 20px;
}

/*--------------------------contact----------------------------*/

#form_concact{
	padding:20px;
}

#form_contact .input_div{
	float: left;
	box-sizing: border-box;
	width: 45%;
	padding: 40px;
}

#form_contact input{
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 20px;
	height: 30px;
	border-radius: 5px;
}

#form_contact #button{
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-style: none;
}

#form_contact p{
	visibility: hidden;
	color: #F70B0B;
}
#form_contact label{
	font-size: 20px;
}

#form_contact #select_contact{

	padding-top: 0px;
	padding-bottom: 0px;
}

#form_contact{
	padding-bottom: 0px;
}
/*--------------------------UserConfig-------------------------*/

#form_user_config{
	box-sizing: border-box;
	width: 100%;
}
#form_user_config input{
	margin: 10px;
	width: 100%;
}
#form_user_config .input_div{
	box-sizing: border-box;
	width: 48%;
	float: left;
	margin: 1%;
}

/*--------------------------Connect----------------------------*/

#form_connect .input_div{

	width: 60%;
	margin: auto;
	text-align: center;
}

#form_connect input{
	width: 96%;
	margin-bottom: 20px;
	height: 30px;
	border-radius: 5px;
}

#form_connect #button{
	text-align: center;
	padding: 10px;

}

#form_connect p{
	visibility: hidden;
	color: #F70B0B;
}
#form_connect label{
	font-size: 20px;
}


/*---------------------------ANIMATION---------------------------*/

.wallpaper{
	width: 1000px;
	height: 400px;
	animation: 20s switchwallpaper infinite; 
	/*attention fonctionne avec chrome mais pas sur firefox (différence de gestion de CSS3)
	voir ici: http://stackoverflow.com/questions/12685133/background-image-for-firefox-in-css3-animations*/

}

@keyframes switchwallpaper {

	0%{background-image: url(../img/room1.jpg);}
    
    25% {background-image: url(../img/room2.jpg);}

    50% {background-image: url(../img/room3.jpg);}

    75% {background-image: url(../img/room4.jpg);}

    100% {background-image: url(../img/room1.jpg);}
}


/*------------------------------PLAN DES CHAMBRES---------------------------------------*/

.plan{
	width: 1400px;
	height: 500px;
	/*background-image: url(../img/plan1.jpg);*/
	background-image: url('../img/etage_0_homestyler_perso.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: none;
	border:1px solid black;
	
}

.chambre{
	/*border:2px solid red;*/
	float: left;
}

#n0{
	width: 260px;
	height: 186px;
	margin-left: 95px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}

#n1{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}
#n2{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}
#n3{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}
#n4{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}

#n5{
	width: 260px;
	height: 186px;
	margin-left: 95px;
	margin-top:40px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}

#n6{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-top:40px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}
#n7{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-top:40px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}
#n8{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-top:40px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}
#n9{
	width: 260px;
	height: 186px;
	margin-left: 0px;
	margin-top:40px;
	margin-right:0;
	margin-bottom:0;
	box-sizing: border-box;
}

/*-----------------------------------FIN DU PLAN DES CHAMBRES-----------------------------------------------------*/

#presentation img{
	margin-top: 40px;
	margin-bottom: 40px;
}

.imgTeam{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

/*-------------------------CONTACT--------------------------------

.contact{
	height: 800px;
	width: 1200px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
	margin-left: auto;
    margin-right: auto;
}

.contact>h2{
	font-family: 'Cinzel', serif;
	text-decoration: underline;
	text-align: center;
}

#form_contact{
	margin-left: auto;
    margin-right: auto;
}

.contact>p{
	text-align: center;
}

.about{
	height: 900px;
	width: 1200px;
	border-top: 1px solid white;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: white;
	margin-left: auto;
    margin-right: auto;
}

