/*
	Configurations initiales, layout container
*/

body{
	/*font-family: 'Titillium Web', sans-serif;*/
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-repeat: no-repeat;  
    min-height: 1000px; 
}

#menu1{
	height: 40px;
	background-color: black;
	position: fixed;
	width: 100%;
	font-family: 'Cinzel', serif;
	border: 1px solid gray;
	padding-top: 10px;
}

#menu2{
	width: 100%;
	background-color: white;
	padding-top: 50px;
	height: 80px;
	font-family: 'Cinzel', serif;
	border: 1px solid gray;
	font-weight: bold;
}

#menu1>nav{
	float: right;
}

#menu2 ul>li>a{
	color: black;
}

#menu2>nav {
	float: right;
}

.container{
	width: 1200px;
	height: 1000px;
	box-sizing: border-box;
	margin-bottom: 100px;
}

div .container{
	padding-right: 0px;
	padding-left: 0px;
}


.clearfix{
	clear: both;
}

#menu1>nav>ul>li{
	float: left;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
}

#menu1>nav>ul>li>a{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	padding: 5px;
}

#menu1>nav>ul>li>a:hover{
	color: grey;
	text-decoration: none;
}

#menu2>nav>ul>li{
	float: left;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
}

/*
	Partie Accueil
*/

#accueil{
	background-image: url(../img/hotel_front.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1200px 700px;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#accueil p{
	width: 810px;
	margin: auto;
	color:  #f7f3eb;
	font-size: 30px;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 110px;
	font-family: 'Cinzel', serif;
}

#accueil a{
	display: block;
	box-sizing: border-box;
	width: 220px;
	height: 55px;
	margin: auto;
	padding: 15px 57px;
	background-color: black;
	border-radius: 4px;
	color: white;
	font-size: 24px;
	line-height: 25px;
	text-decoration: none;
}

#accueil a:hover{
	background-color: white;
	color: black;
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	width: 100%;
	border: 1px solid white;
}

footer>p{
	padding: 10px;
	font-family: 'Cinzel', serif;
}

#map {
	width:600px;
	height:300px;
	float: left;
	border: 1px solid black;
	border-right:0px;
}

#adresse {
	float: right;
	background-color: white;
	height: 300px;
	width: 600px;
	border: 1px solid black;
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

.hotel>p{
	font-size: 17px;
	text-align: center;
<<<<<<< HEAD
	font-family: 'Cinzel', sans-serif;
=======
	padding-bottom: 10px;
>>>>>>> 9cc1ed1f4cba90db5bbb1af251ccf05cc8c5ef0a
}

.hotel>img{
	margin-left: 60px;
}

.hotel{
	float: left;
	width: 310px;
	height: 298px;
	border: 1px solid white;
	background-color: black;
	color: white;
}

.code{
	float: left;
	width: 280px;
	padding-top: 45px;
	padding-left: 20px;
}

.code>p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

label{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
}

select{
	font-family: 'Josefin Sans', sans-serif;

/*footer{
	margin: 30px;
	position: absolute;
	bottom:0px;

}

.input_div{

	
}

}*/