/*
	Configurations initiales, layout container
*/

body{
	/*font-family: 'Titillium Web', sans-serif;*/

}

.container{
	width: 1140px;
	margin: auto;
}

.clearfix{
	clear: both;
}

/*
	Partie Menu
*/

/*
	Nav fixed pour le garder en visuel 
*/

nav{
	width: 100%;
	position: fixed;
	background-image: url('../img/backgroundHotel.jpg');
	padding-top: 49px;
	top:0;
	font-family: 'Cinzel', serif;
}

nav a{
	
}

nav ul{
	float: right;
}

nav ul>li{
	float: left;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
}

nav ul>li>a{
	color:  #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 5px;
}

nav ul>li>a:hover{
	background-color: #915E0E;
	border-radius: 4px;
}

/*
	Partie Accueil
*/

#accueil{
	width: 100%;
	background-image: url('../img/backgroundHotel.jpg');
	padding-top: 145px;
	padding-bottom: 110px;
}

#accueil p{
	width: 815px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 48px;
	color:  #f7f3eb;
	font-size: 30px;
	text-align: center;
}

/*
	J'ai fait le choix de marquer Webforce 3 en strong, je ne sais pas si c'est la bonne methode 
	mais je trouve que ça donne du sens ...
*/

#accueil p>strong{
	font-weight: normal;
}

/*
 Petit trick pour aller a la ligne apres le strong
*/

#accueil p>strong::after{
	display: block;
	content: " ";
}

#accueil a{
	display: block;
	box-sizing: border-box;
	width: 290px;
	height: 70px;
	margin: auto;
	padding: 25px 70px;
	background-color: #eb7d4b;
	border-radius: 4px;
	color: white;
	font-size: 24px;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none;
}

#accueil a:hover{
	background-color: #BF643A;
}

/*
	Partie Programme
*/

#programme{
	width: 100%;
	height: 747px;
	box-sizing: border-box;
	background-color: #17c2a4;
	padding-top: 120px;
	padding-bottom: 80px;
}

/*
	Uppercase pour majuscules
*/

#programme h2{
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 0;
}

/*
 Petit trick pour souligner le titre 
*/

#programme h2::after{
	display: block;
	content: " ";
	width:90px;
	height: 4px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.15);
}

#programme>.container>p{
	color: white;
	font-size: 18px;
	text-align: center;
	margin-bottom: 90px;
}

#programme article{
	width: 25%;
	float: left;
}

#programme article:nth-of-type(3){
	padding-top: 43px;
}

#programme article:nth-of-type(3)>h3{
	margin-top: 62px;
	margin-bottom: 28px;
}

#programme article>img{
	display: block;
	margin: auto;
}

/*
	Uppercase pour majuscules
*/

#programme article>h3{
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	color: white;
}

#programme article>p{
	color: white;
	font-size: 16px;
	text-align: center;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

#programme article:last-of-type>p>em{
	font-style: normal;
	font-weight: bold;
}

/*
	Partie Inscriptions
*/

#inscriptions{
	width: 100%;
	background-color: #3c5499;
	box-sizing: border-box;
	padding-top: 120px;
	padding-bottom: 80px;
}

/*
	Uppercase pour majuscules
*/

#inscriptions h2{
	color: white;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: none;

}

/*
 Petit trick pour dessiner le petit trait sous le titre
*/

#inscriptions h2::after{
	display: block;
	content: " ";
	width:90px;
	height: 4px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.15);
}

#inscriptions>.container>p{
	color: white;
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}

/*
	Formulaire d'inscriptions
*/

form {
	width: 80%;
	margin: auto;
}

input, textarea{
	display: block;
	padding: 20px;
	border-radius: 4px;
	background-color:  #273a71;
	border: none;
	color: #647bbd;
	font-size: 18px;
}

/*
	Capitalize pour avoir une majuscule a chaque mot
*/
form>label{
	display: block;
	float: left;
	width: 50%;
	font-size: 18px;
	color: white;
	box-sizing: border-box;
	padding-left: 25px;
	text-transform: capitalize;
	margin-bottom: 10px;
}

/*
 Le label contenant le textarea prend toute la place en largeur, contrairement aux deux autres.
*/

form>label:last-of-type{
	display: block;
	width: 100%;
	margin-bottom: 60px;
}
label>span{
	color: red;
}

label>input{
	width: 85%;
	margin: auto;
}

/*
 Afin de pouvoir changer la couleur des placeholder , on utilise ceci ,
 je pourrait le faire pour chaque navigateur oui ... mais ...
 non
*/
::-webkit-input-placeholder{
	color: #647bbd;
}

label>textarea{
	width: 93%;
	height: 200px;
	margin: auto;
	resize: none;
}

label>p{
	color: #ff745d;
	visibility: hidden;
}

form>button{
	display: block;
	margin: auto;
	padding: 25px 105px;
	background-color: #30bae7;
	border: none;
	border-radius: 4px;
	font-size: 24px;
	color: white;
	text-transform: capitalize;
	box-shadow: inset 0px -3px rgba(0, 0, 0, 0.15);
}


form>button:hover{
	background-color: #2090B4;
}

/*
 Partie Footer
*/

footer{
	width: 100%;
	height: 112px;
	background-color: #273a71;
	box-sizing: border-box;
	padding-top: 20px;
}

footer p{
	font-size: 24px;
	color: white;
	text-align: center;
}

/*

 le footer a est le bouton naviguer vers le haut ,
 on lui met une position fixed pour qu'il reste visible le long de notre navigation

*/
footer a{
	position: fixed;
	top:90%;
	left:90%;
	background-color: #1b284e;
	border-radius: 4px;
	font-size: 18px;
	color: #647bbd;
	padding: 18px 15px;
	text-decoration: none;
}

/*
 Un peu de CSS pour l'ajax
*/

#valid {
	color: white;
	font-size: 24px;
	text-align: center;
}